<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PersonalizeExperience3"
            android:parentActivityName=".PersonalizeExperiencie2"></activity>
        <activity
            android:name=".PersonalizeExperiencie2"
            android:parentActivityName=".PersonalizeExperience" />
        <activity
            android:name=".PersonalizeExperience"
            android:parentActivityName=".PictureDetailActivity" />
        <activity
            android:name=".PictureDetailActivity"
            android:parentActivityName=".ContainerActivity" />
        <activity
            android:name=".ContainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegitroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>